.sidebar-bg {
    background-color: white;
    height: 90vh;
    border-radius: 5px;
    position: sticky;
    top: 60px;
    width: 210px;
}

.small-sidebar {
    background-color: white;
    height: 90vh;
    border-radius: 5px;
    position: sticky;
    top: 60px;
    width: 100px;
}

.admin-bar {
    color: #361D0F;
    padding-top: 20px;
    margin-top: 0px;
    cursor: pointer;
    font-size: 22px;
    text-align: end;
    margin-right: 35px;
}


.side-nav {
    list-style-type: none;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    user-select: none;
}

.sidebar-link {
    color: black;
    font-size: 20px;
}

.sidebar-active {
    font-weight: bold;
    color: #711eff;
    font-size: 20px;
}

.staus {
    display: block;
}

@media screen and (min-width:689px) and (max-width:992px) {
    .small-sidebar {
        background-color: white;
        height: 80px;
        border-radius: 5px;
        width: 100%;
        margin-top: 10px;
        padding-top: 12px;
    }

    .sidebar-bg {
        background-color: white;
        height: 40px;
        border-radius: 5px;
        width: 100%;
    }

    .staus {
        display: none;
    }

    .side-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        padding: 0px 10px;
    }

    .d-none {
        display: none;
    }
}


@media screen and (max-width:688px) {
    .sidebar-bg {
        background-color: white;
        height: 100%;
        border-radius: 5px;
        width: 100%;
    }

    .small-sidebar {
        background-color: white;
        height: 70px;
        border-radius: 5px;
        width: 100%;

    }

    .side-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        padding: 10px 10px;
    }

    .staus {
        display: none;
    }

    .d-none {
        display: none;
    }
}