.full-user-table {
    background-color: white;
    margin-top: 10px;
}

.data-user-table {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    user-select: none;
}

.table-customized {
    border-collapse: collapse;
    width: 80vw;
}

.table-customized td,
.table-customized th {
    border-top: 1px solid #e3e3e3;
    /* border-bottom: 1px solid #e3e3e3; */
    padding: 8px;
    height: 40px;
    color: #636568;
}

/* .table-customized tr:nth-child(even) {
    background-color: #f2f2f2;
} */


.table-customized tr:hover {
    background-color: #ece2fb;
    cursor: pointer;
}

.table-customized th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #F9FAFC;
    color: #000;
    text-transform: uppercase;
}

.check-th {
    width: 4%;
}

.image-row {
    height: 34px;
    width: 34px;
    border-radius: 50%;
}

.user-row {
    display: flex;
    align-items: center;
    gap: 10px;
    /* width: ; */
}

#action-row {
    text-align: center;
}

.role-row {
    text-transform: capitalize;
}

.edit {
    background-color: #711eff;
    border-radius: 3px;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0px 3px;
}

.delete {
    background-color: #d55a02;
    border-radius: 3px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.action-item {
    display: none;
    width: 40px;
    margin-right: 30px;
}

.dropdown {
    position: relative;
}

.dropdown:focus-within .action-item {
    display: block;
    position: absolute;
    top: 5px;
    left: -15px;
    gap: 10px;
}

.status {
    font-weight: bold;
}

.active {
    color: #265706;
    background-color: #b7e897;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.pending {
    color: #bc4f02;
    background-color: #f7e1d2;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.inActive {
    color: rgb(84, 83, 83);
    font-weight: bold;
    background-color: rgb(190, 190, 190);
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.action-btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
}

.admin-btn {
    border: none;
    background-color: transparent;
    border: 1px solid #ddd;
    padding: 10px 8px;
    font-size: 16px;
    color: #636569;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s;
}

.admin-btn:hover {
    background-color: #9c63fe;
    color: #fff;
}

.print-btn {
    display: block;
}

.action-dot {
    background-color: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
    color: #6e7074;
}

.full-showHide {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 0px 50px;
    top: 40px;
    left: 30%;
    z-index: 5;
    /* background-color: #F5F1FB; */
    animation: growDown 300ms ease-in-out
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }

    80% {
        transform: scaleY(1.1)
    }

    100% {
        transform: scaleY(1)
    }
}


@media screen and (min-width:689px) and (max-width:992px) {
    .table-customized {
        border-collapse: collapse;
        width: 100%;
        overflow-x: scroll;
        margin: 10px;
    }

    .table-heading {
        margin: 10px;
    }

    .full-data-table {
        overflow: scroll;
    }

    .data-user-table {
        width: auto;
        padding: 20px;
        border-radius: 5px;
        user-select: none;

    }
}

@media screen and (max-width:688px) {
    .table-customized {
        border-collapse: collapse;
        width: 80%;
        overflow-x: scroll;
        margin: 10px;
    }

    .table-heading {
        margin: 10px;
    }

    .full-data-table {
        overflow: scroll;
    }

    .full-table {
        overflow-x: scroll;
    }

    .print-btn {
        display: none;
    }

    .admin-btn {
        padding: 2px 2px;
    }

    .data-user-table {
        width: auto;
        padding: 20px;
        border-radius: 5px;
        user-select: none;
    }

    .full-showHide {
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 0px 30px;
        top: 48px;
        left: 65%;
        z-index: 5;
        background-color: #F5F1FB;
        border-radius: 3px;
    }
}