.full-user-table {
    background-color: white;
    margin-top: 10px;
}

.data-user-table {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    user-select: none;
}

.table-customized {
    border-collapse: collapse;
    width: 80vw;

}

.table-customized td,
.table-customized th {
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    padding: 8px;
    height: 40px;
}

.table-customized tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-customized tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

.table-customized th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #F9FAFC;
    color: #000;
}

.check-th {
    width: 4%;
}

.image-row {
    height: 34px;
    width: 34px;
    border-radius: 50%;
}

.user-row {
    display: flex;
    align-items: center;
    gap: 10px;
    /* width: ; */
}

#action-row {
    text-align: center;
}

.role-row {
    text-transform: capitalize;
}

.edit {
    background-color: #711eff;
    border-radius: 3px;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0px 3px;
}

.delete {
    background-color: #d55a02;
    border-radius: 3px;
    color: white;
    border: none;
    cursor: pointer;
}

.action-item {
    display: none;
    width: 50px;
}

.dropdown:hover .action-item {
    display: flex;
    gap: 10px;
}

.status {

    font-weight: bold;
}

.active {
    color: #265706;
    background-color: #b7e897;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.pending {
    color: #d55a02;
    background-color: #eebd9a;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.inActive {
    color: rgb(84, 83, 83);
    font-weight: bold;
    background-color: rgb(190, 190, 190);
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.action-btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.admin-btn {
    border: none;
    background-color: transparent;
    border: 1px solid #ddd;
    padding: 10px 8px;
    font-size: 16px;
    color: #000;
    border-radius: 3px;
}


@media screen and (min-width:689px) and (max-width:992px) {
    .table-customized {
        border-collapse: collapse;
        width: 100%;
        overflow-x: scroll;
        margin: 10px;
    }

    .table-heading {
        margin: 10px;
    }

    .full-data-table {
        overflow: scroll;
    }
}

@media screen and (max-width:688px) {
    .table-customized {
        border-collapse: collapse;
        width: 100%;
        overflow-x: scroll;
        margin: 10px;
    }

    .table-heading {
        margin: 10px;
    }

    .full-data-table {
        overflow: scroll;
    }

    .full-table {
        overflow-x: scroll;
    }
}