.full-nav {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 15px -4px grey;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 20;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bar {
    display: none;
}


.title {
    color: #000;
}

.nav-option {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.nav-active {
    font-weight: bold;
    text-decoration: none;
    color: #361D0F;
    font-size: 18px;
}

.show-hide {
    display: flex;
}

.shopping {
    font-size: 20px;
    color: black;
}

.after-login {
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
    gap: 20px;
}

.loginUser-photo {
    width: 40px;
    height: 40px;
    margin-top: -5px;
    border-radius: 50%;
}

@media screen and (max-width:688px) {
    .nav-option {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: fixed;
        top: 30px;
        right: 20px;
        background-color: #e1d4f7fe;
        padding: 20px;
    }

    .bar {
        display: block;
    }

    .show-hide {
        display: none;
    }

    .after-login {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

}