.checkout-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    height: 80vh;
}

.checkout-image {
    height: 100px;
    width: 100px;
}

.checkout-product {}


/* .form {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 20px;
} */