@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;0,900;1,500&display=swap');


body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: 'Poppins', sans-serif;
}

/* common CSS */
a {
  text-decoration: none;
}

.mt {
  margin: 80px 0px;
}

.mb {
  margin-bottom: 20px;
}

.pt {
  padding-top: 30px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.button {
  background-color: #711eff;
  color: white;
  padding: 3px 5px;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #26075c;
}

.loading {
  text-align: center;
  margin-top: 20px;
}

.file {
  background-color: white;
}

.heading {
  color: #711eff;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}

@media print {
  .no-print {
    display: none;
  }

  .print {
    display: block;
  }

  .clr {
    color: black;
  }
}