.dashboard-bg {
    background-color: rgb(244, 223, 223);
}

.admin-dashboard {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.sidebar-wid {
    width: 220px;
}

@media screen and (max-width:688px) {
    .admin-dashboard {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .sidebar-wid {
        width: 100%;
    }
}