.dashboard-bg {
    background-color: #f5f1fb;
}

.admin-dashboard {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 100%;
}

@media screen and (min-width:689px) and (max-width:992px) {
    .admin-dashboard {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .sidebar-wid {
        width: 100%;
    }
}

@media screen and (max-width:688px) {
    .admin-dashboard {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100vh;
    }

    .sidebar-wid {
        width: 100%;
    }
}